
<!--<html lang="uz" xmlns:th="http://www.thymeleaf.org">-->
<!--<link rel="stylesheet" th:href="@{/cssFayl/css.css}">-->
<!--<div th:fragment="content(user)">-->
<!--    <div class="sidebar-wrapper">-->
<!--        <div class="sidebar">-->

<!--            <h2>BORSA KELMAS</h2>-->

<!--            <form action="/admin/main" method="get">-->
<!--                <input type="hidden" name="passport" th:value="${user.passport}">-->
<!--                <button class="menu-btn">Asosiy</button>-->
<!--            </form>-->

<!--            <form action="/admin/doctor" method="post">-->
<!--                <input type="hidden" name="passport" th:value="${user.passport}">-->
<!--                <button class="menu-btn">Doktor qushish</button>-->
<!--            </form>-->

<!--            <form action="/admin/doctorGet" method="get">-->
<!--                <input type="hidden" name="passport" th:value="${user.passport}">-->
<!--                <button class="menu-btn">Doktor Ruyhati</button>-->
<!--            </form>-->

<!--            <form action="/admin/navbat/berish" method="get">-->
<!--                <input type="hidden" name="passport" th:value="${user.passport}">-->
<!--                <button class="menu-btn">Navbat olish</button>-->
<!--            </form>-->

<!--            &lt;!&ndash; USER INFO &ndash;&gt;-->
<!--            <div class="user-info">-->
<!--                <p><b>Ism:</b> <span th:text="${user.name}"></span></p>-->
<!--                <p><b>Passport:</b> <span th:text="${user.passport}"></span></p>-->
<!--                <p><b>Yosh:</b> <span th:text="${user.age}"></span></p>-->
<!--                <form action="home" method="get">-->

<!--                    <button>chiqish</button>-->

<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

