* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    min-height: 100vh;
    display: flex;
    background: radial-gradient(circle at top, #0a0f2c, #000);
    color: #fff;
}

/* ===== SIDEBAR ===== */
.sidebar-wrapper {
    padding: 3px;
    background: linear-gradient(270deg, #00c6ff, #8a2be2, #00c6ff);
    background-size: 600% 600%;
    animation: borderMove 6s linear infinite;
}

.sidebar {
    width: 260px;
    background: #0b102a;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-btn {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(120deg, #00c6ff, #8a2be2);
}

.menu-btn:hover {
    box-shadow: 0 0 18px rgba(0, 198, 255, .9);
}

.user-info {
    margin-top: auto;
    font-size: 14px;
    color: #9fcbff;
    border-top: 1px solid #333;
    padding-top: 12px;
}

/* ===== CONTENT ===== */
.content {
    flex: 1;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    align-content: start;
}

/* ===== NAVBAT CARD ===== */
.navbat-card-wrapper {
    padding: 3px;
    border-radius: 16px;
    background: linear-gradient(120deg, #00c6ff, #8a2be2, #00c6ff);
    background-size: 400% 400%;
    animation: borderMove 5s linear infinite;
}

.navbat-card {
    background: #0b102a;
    padding: 14px;
    border-radius: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.navbat-card h3 {
    margin-bottom: 8px;
    color: #9fcbff;
    font-size: 16px;
}

.navbat-card p {
    margin-bottom: 6px;
    font-size: 14px;
}

.navbat-number {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #00c6ff;
}

.batafsil-btn {
    margin-top: 12px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(120deg, #00c6ff, #00c6ff);
}

.batafsil-btn:hover {
    box-shadow: 0 0 10px rgba(0, 198, 255, .8);
}
button{
    padding:12px 22px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    color:#fff;
    background:linear-gradient(120deg,#ff416c,#ff4b2b)
}
button:hover{box-shadow:0 0 15px rgba(255,75,75,.9)}

@keyframes borderMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}